/*canvas {*/
    /*image-rendering: optimizeSpeed;             // Older versions of FF*/
    /*image-rendering: -moz-crisp-edges;          // FF 6.0+*/
    /*image-rendering: -webkit-optimize-contrast; // Webkit*/
                                                /*//  (Safari now, Chrome soon)*/
    /*image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)*/
    /*image-rendering: optimize-contrast;         // Possible future browsers.*/
    /*-ms-interpolation-mode: nearest-neighbor;   // IE*/
/*}*/

#riddle, input {
    font-family: 'Audiowide', cursive;
    font-size: 20px;
    color: white;
}

/*#riddleQuestion {*/
    /*-webkit-box-shadow: 5px 5px 1px 0px rgba(0, 0, 0, 0.85);*/
    /*-moz-box-shadow:    5px 5px 1px 0px rgba(0, 0, 0, 0.85);*/
    /*box-shadow:         5px 5px 1px 0px rgba(0, 0, 0, 0.85);*/
/*}*/

#riddle {
    position: absolute;
    width: 412px;
    display: inline-block;
    margin: auto;
    top: 200px;
    left: 50px;
    text-align: center;
}

#gameContainer {
    display: table-cell;
    height: 512px;
    width: 512px;
}

#game {
    position: absolute;
}

input {
    background-color:transparent;
    border: none;
}
